.activeStyle{
    color: #1b5e20;
    background-color: #c8e6c9;
    border-radius: 5px;
    padding: 1%;
    font-size: smaller;
    font-family: poppins;
    width: 60px;
    text-align: center;
}

.blockStyle{
    color: red;
    background-color:#ffcdd2;
    border-radius: 5px;
    padding: 1%;
    font-size: smaller;
    font-family: poppins;
    width: 60px;
    text-align: center;
}